.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.choice{
    height: 250px;
    width: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
}
.choice:hover{
    opacity: 0.8;
      background-color: black;

}

.choice img{
    height: 100%;
    width: 100%;
      object-fit: cover;
    

}

.score-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.userscore,.compscore{
    margin-top: 15px;
    height: 100px;
    width: 100px;
    background-color: rgb(247, 117, 117);
    display: flex;
    align-items: center;
    justify-content: center;
}

.userscore p{
    align-items: center;
}
